:root {
    --main-font: 'DM Sans', sans-serif;
    --primary-text-color-ligth: #111111;
    --secondary-text-color-ligth: #B4AFAF;
    --accent-text-color-ligth: #4F2EE8;
    --accent--text-color-dark: #EAC645;
    --primary-text-color-dark: rgba(255, 255, 255, 0.6);
    --secondary-text-color-dark: #FFFFFF;
    --accent-color-dark: #EAC645;
    --accent-color-ligth: #4F2EE8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
    --header-color-ligth: #FFFFFF;
    --header-color-dark: #111111;
    --bgc-ligth-theme: #D0D0D0;
    --bgc-dark-theme: #202024;
    --support-section-color: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
    --scroll-color: #E0E0E0;
}

.visual-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}


/* media rules */

.container {
    width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        width: 100%;
        max-width: 1440px;
        padding: 0 24px;
    }
}



@media screen and (max-width: 480px) {
    
} 






































/* h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

header {
    position: fixed;
    z-index: 999;
}

.container {
    padding: 32px 32px;
}

/* @media screen and (max-width: 320px) {
    .container {
        width: 280px;
        padding: 20px 20px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .container {
        width: 704px;
        padding: 32px 32px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .container {
        width: 1216px;
    }
} */

/* .nav-site {
    display: flex;
    gap: 8px;
    padding-top: 16px;
    padding-left: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #000000;
}

.form-search {
    width: 187px;
    height: 42px;
    left: 32px;
    top: 16px;
    background: #FFFFFF;
    border-radius: 100px;
    border-color: #FFFFFF;
}

.btn-home {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    padding: 14px 32px;
    width: 99px;
    height: 42px;
    background: #000000;
    border-radius: 100px;
}

.btn-library {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;

        padding: 14px 24px;
        width: 127px;
        height: 42px;
        background: #FFFFFF;
        border-radius: 100px;
        border-color: #FFFFFF;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-left: 36px;
}

.logo-title {
    width: 300px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
} */






         /* html,
         body {
             position: relative;
             height: 100%;
         }
    
         body {
             background: #eee;
             font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
             font-size: 14px;
             color: #000;
             margin: 0;
             padding: 0;
         }
    
         .swiper {
             width: 100%;
             /* height: 100%; */
         /* }  */
    
         /* .swiper-slide {
             text-align: center;
             font-size: 18px;
             background: #fff;
             display: flex;
             justify-content: center;
             align-items: center;
            
         }
     */
         /* .swiper-slide img {
             display: block;
             width: 100%;
             height: 100%;
             object-fit: cover;
         } */

                 /* .swiper-slide {
                     display: block;
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                 }

                 .swiper-slide.first {
                    background-image: url(./img/abstract-background-with-red-lines-2x.jpg);
                 }
                .swiper-slide.second {
                    background-image: url(./img/abstract-background-with-yellow-lines-2x.jpg);
                }
                .swiper-slide.thrid {
                    background-image: url(./img/background-with-orange-2x.jpg);
                } */
                

