h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

header {
    position: fixed;
    z-index: 999;
}

.container {
    padding: 32px 32px;
}

/* @media screen and (max-width: 320px) {
    .container {
        width: 280px;
        padding: 20px 20px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .container {
        width: 704px;
        padding: 32px 32px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .container {
        width: 1216px;
    }
} */

.nav-site {
    display: flex;
    gap: 8px;
    padding-top: 16px;
    padding-left: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #000000;
}

.form-search {
    width: 187px;
    height: 42px;
    left: 32px;
    top: 16px;
    background: #FFFFFF;
    border-radius: 100px;
    border-color: #FFFFFF;
}

.btn-home {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    padding: 14px 32px;
    width: 99px;
    height: 42px;
    background: #000000;
    border-radius: 100px;
}

.btn-library {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;

        padding: 14px 24px;
        width: 127px;
        height: 42px;
        background: #FFFFFF;
        border-radius: 100px;
        border-color: #FFFFFF;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-left: 36px;
}

.logo-title {
    width: 300px;
    height: 75px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}






         html,
         body {
             position: relative;
             height: 100%;
         }
    
         body {
             background: #eee;
             font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
             font-size: 14px;
             color: #000;
             margin: 0;
             padding: 0;
         }
    
         .swiper {
             width: 100%;
             /* height: 100%; */
         }
    
         .swiper-slide {
             text-align: center;
             font-size: 18px;
             background: #fff;
             display: flex;
             justify-content: center;
             align-items: center;
            
         }
    
         .swiper-slide img {
             display: block;
             width: 100%;
             height: 100%;
             object-fit: cover;
            /* background-image: url(./img/abstract-background-with-yellow-lines-2x.jpg); */
         }

                

